<h1><%= @recipe.name %></h1>
<p>Complexity: <%= @recipe.complexity %></p>
<p>Genre: <%= @recipe.genre %></p>
<h2>Ingredients:</h2>
<ul>
  <% @recipe.ingredients.each do |ingredient| %>
  <li><%= ingredient.name %></li>
  <% end %>
</ul>
<p>Total Cost: <%= @recipe.total_cost %></p>
<%= form_with url: update_recipe_path, method: :patch do |f| %>
  <%= f.label :ingredient_id, 'Ingredient ID:' %>
  <%= f.number_field (:ingredient_id) %>
  <%= f.submit "Add Ingredient" %>
<% end %>