<h1>Dish: <%= @recipe.name %></h1>
<h1>Complexity: <%= @recipe.complexity %></h1>
<h1>Genre: <%= @recipe.genre %></h1>
<h2>INGREDIENTS:</h2>
<h3><% @ingredients.each do |ingredient| %></h3>
  <ul>
    <li><%= ingredient.name %></li>
  </ul>
<% end %>
<h2>Total Cost of Dish: $<%= @recipe.total_cost %><h2>
