<h1>Dish: <%= @recipe.name %></h1>
<h1>Complexity: <%= @recipe.complexity %></h1>
<h1>Genre: <%= @recipe.genre %></h1>
<h2>INGREDIENTS:</h2>
<h3><% @ingredients.each do |ingredient| %></h3>
  <ul>
    <li><%= ingredient.name %></li>
  </ul>
<% end %>
<%= form_with url: "/recipes/#{@recipe.id}", method: :post, local: true do |form| %>
  <%= form.label :New %>
  <%= form.text_field :New %> 
  <%= form.submit "Add Ingredient ID" %>
<% end %>
<h2>Total Cost of Dish: $<%= @recipe.total_cost %><h2>
