<h1><%= @recipe.name %></h1>
<p><strong>Complexity:</strong> <%= @recipe.complexity %></p>
<p><strong>Genre:</strong> <%= @recipe.genre %></p>

<h2>Ingredients</h2>
<ul>
  <%= @recipe.ingredients.each do |ingredient| %>
    <li><%= ingredient.name %> </li>
  <% end %>
</ul>