<h1>Recipe Details</h1>

<h4><%= "#{@recipe.name}" %></h4>
<%= "Complexity: #{@recipe.complexity}" %></br>
<%= "Genre: #{@recipe.genre}" %></br>
<%= "Ingredients: #{@recipe.list_of_ingredients}" %></br>
<%= "Total Cost: $#{@recipe.total_cost}" %>